<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KPClient.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <KPClient.Properties.Settings>
      <setting name="SharedFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Universe" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="PublicKeyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PrivateKeyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="KPSuitePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="FilterOutOfPolicy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPreviews" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreloadData" serializeAs="String">
        <value>False</value>
      </setting>
    </KPClient.Properties.Settings>
  </userSettings>
</configuration>